<div class="font-bold text-cyan-primary">
  <div class="relative">
    <label for="bill">Bill</label>
    <input
      type="number"
      name="bill"
      class="input-form mt-2 text-lg font-bold text-cyan-dark border-none"
      style="appearance: text-field"
      placeholder="0"
      [(ngModel)]="bill"
      (ngModelChange)="onBillChange($event)"
    />
    <img src="assets/images/icon-dollar.svg" class="absolute bottom-3 left-4" />
  </div>
  <div class="mt-7">
    <label for="tip" class="block">Select Tip %</label>
    <div class="grid grid-cols-2 md:grid-cols-3 gap-4 text-lg mt-3">
      <button
        [ngClass]="{
          btn: true,
          'bg-cyan-outline text-cyan-dark': _percent === percent
        }"
        *ngFor="let _percent of percents"
        (click)="onClick(_percent)"
      >
        {{ _percent + "%" }}
      </button>
      <input
        type="number"
        name="percent"
        [(ngModel)]="percent"
        class="
          text-black text-right
          px-6
          focus:outline-none focus:ring-2 focus:ring-cyan-outline
          rounded-md
          font-bold
          text-cyan-dark
        "
        placeholder="Custom"
        (ngModelChange)="onPercentChange($event)"
      />
    </div>
  </div>
  <div class="mt-7 relative">
    <div class="flex justify-between">
      <label for="people">Number of people</label>
      <div *ngIf="checkPeople()" class="text-red-400">Can't be zero</div>
    </div>
    <input
      type="number"
      name="people"
      class="input-form mt-2 text-lg font-bold text-cyan-dark"
      [ngClass]="{
        'focus:ring-red-400': checkPeople(),
        'border-red-400': checkPeople(),
        'border-none': !checkPeople()
      }"
      placeholder="0"
      [(ngModel)]="people"
      (ngModelChange)="onPeopleChange($event)"
    />
    <img src="assets/images/icon-person.svg" class="absolute bottom-3 left-4" />
  </div>
</div>
