<div class="container mx-auto max-w-4xl mt-16">
  <div class="bg-white rounded-3xl">
    <div class="grid md:grid-cols-2 p-10 gap-8">
      <app-calculator-input
        [(bill)]="bill"
        [(people)]="people"
        (percentChange)="percent = $event"
      ></app-calculator-input>
      <div>
        <app-calculator-output
          [tip]="calculateTip()"
          [total]="calculateTotal()"
          [disableReset]="!(bill && people && percent)"
          (resetClick)="resetClick()"
        ></app-calculator-output>
      </div>
    </div>
  </div>
</div>
